<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomibing.snam.business.mapper.WmsClassMapper">


	<select id="listByKeyWord" resultType="com.baomibing.snam.business.entity.WmsClass">
		SELECT id,class_name
		FROM wms_class
		<where>
			<if test="keyWord != null and  keyWord != ''">
				AND class_name LIKE CONCAT('%',#{keyWord},'%')
			</if>
		</where>
		ORDER BY update_time desc
		LIMIT 5
	</select>

</mapper>
