<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomibing.snam.business.mapper.WmsOrderMapper">

	<select id="getCountOrdersByMonth" resultType="java.lang.Integer">
		select count(1) + 1  from wms_order t where DATE_FORMAT(t.create_time, '%Y-%m') = #{date}
	</select>

</mapper>
