<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="com/baomibing/log/logback-base.xml"/>

    <springProfile name="test,docker,pub">
        <root level="${logging.level.console}">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
        </root>

        <logger name="com.baomibing.root" level="info" addtivity="false">
            <appender-ref ref="ASYNC_ROOT_APPENDER"/>
        </logger>

        <logger name="com.baomibing.exception" level="error" addtivity="false">
            <appender-ref ref="ASYNC_EXCEPTION_APPENDER"/>
        </logger>

        <logger name="com.baomibing.pint" level="info" addtivity="false">
            <appender-ref ref="ASYNC_POINT_APPENDER"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="${logging.level.console}">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
            <appender-ref ref="ASYNC_ROOT_APPENDER"/>
            <appender-ref ref="ASYNC_EXCEPTION_APPENDER"/>
            <appender-ref ref="ASYNC_POINT_APPENDER"/>
        </root>
    </springProfile>

</configuration>
