<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="com/baomibing/log/logback-base.xml"/>

    <springProfile name="test,yun,pub">

        <logger name="com.baomibing.tool.log.PointLog" level="debug" addtivity="false">
            <appender-ref ref="ASYNC_POINT_APPENDER"/>
        </logger>

        <logger name="com.baomibing.tool.log.SQLLog" level="debug" addtivity="false">
            <appender-ref ref="ASYNC_SQL_APPENDER"/>
        </logger>


        <root level="${logging.level.console}">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
            <appender-ref ref="ASYNC_ROOT_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="dev">

        <logger name="com.baomibing.tool.log.PointLog" level="debug" addtivity="false">
            <appender-ref ref="ASYNC_POINT_APPENDER"/>
        </logger>

        <logger name="com.baomibing.tool.log.SQLLog" level="debug" addtivity="false">
            <appender-ref ref="ASYNC_SQL_APPENDER"/>
        </logger>


        <root level="${logging.level.console}">
            <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
            <appender-ref ref="ASYNC_ROOT_APPENDER"/>
        </root>

    </springProfile>

</configuration>
